
.tab {
  display: inline-block;
  padding: 12px;
  cursor: pointer;
}

.tab:hover {
  color: white;
  background-color: #9999ff;
  transition: background-color 1s, color 0.2s;
}

.active {
  border-bottom: 4px solid #4444ff;
}